
@{
    ViewBag.Title = "Index";
}


    <div class="jumbotron">
        <h1>Computer Science</h1>
        <p class="lead">
            Computer Science Technology is a three-year career program designed to provide you with a strong background in
            object-oriented methodology, particularly in program design and system analysis.
        </p>
        <p>
            As a student of the Computer Science Technology diploma program, you will learn in an environment where classes are
            given in modern facilities and where every course uses a combination of class and laboratory time.
            The software used in this program is constantly updated with the latest versions. As a bonus, each student benefits from
            access to the same software for use on their own devices as part of our academic alliances with software vendors.
        </p>
        <p><a href="https://www.champlainonline.com/champlainweb/future-students/computer-science/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

