
@{
    ViewBag.Title = "Semester 5";
}

<h2>Semester 5</h2>
<div>
    <p class="lead">
        Here are the classes for the fifth semester of the three year computer science program
    </p>
    <ul>
        <li>Final Project pt 1</li>
        <li>Mobile Application Development</li>
        <li>Career Planning</li>
        <li>Building Windows and Web Applications</li>
        <li>Software Testing and Quality Assurance</li>
        <li>DAtabase Systems Administration</li>
    </ul>
</div>

