
@{
    ViewBag.Title = "Testimonial";
}

<div class="jumbotron">
    <h1>Testimonial</h1>
    <h4 class="lead">
        Here are some of the thoughts students have about the program
    </h4>
    <p>Ariane Ouellette <q>This program is interesting and will allow me to pursue future studies</q></p>
    <p>Horia Sandu <q>This pleases me</q></p>
    <p>Hicham Belkaid <q>Brawlallah?</q></p>

</div>

